<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="carousel-header" class="carousel slide" data-ride="carousel" data-interval="2500">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- <div class="camera-icon hidden-sm hidden-xs">
                <div class="circle">
                    <div class="hexagon">
                        <i class="fa  fa-camera"></i>
                    </div>
                </div>
            </div> -->
            <div class="item active">
                <img src="./assets/img/slide1.jpg" alt="slider">
            </div>
            <div class="item">
                <img src="./assets/img/slide2.jpg" alt="">
            </div>
           <div class="item">
                <img src="./assets/img/slide3.jpg" alt="">
           </div>
           <div class="item">
               <img src="./assets/img/slide4.jpg" alt="">
          </div>
       </div>
    </div>
