
    <app-slider></app-slider>

        <!-- Controls -->
    <div>

        <a class="left carousel-control" href="#carousel-header" role="button" data-slide="next">
            <img src="./assets/img/left.png" alt="Previous">
        </a>
        <a class="right carousel-control" href="#carousel-header" role="button" data-slide="next">
            <img src="./assets/img/right.png" alt="Next">
        </a>
    </div>




    <div id="nosotros" class="content-block content-block-cyan">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Sobre Nosotros</h1>
                    <p>
                        Somos una empresa 100% mexicana dedicada a cuidar a tus mascotas con alimento 100% natural, basado en la dieta BARF (Biologically Appropriate Raw Food) por sus siglas en ingles. La cual consiste en alimentar a nuestras mascotas con víveres crudos biológicamente adecuados a ellos.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <section id="beneficios" class="container">
        <h1  class="contenedor">Nuestros Beneficios</h1>
        <ul class="lista-beneficios clearfix">
            <li>
                <div class="beneficio">
                    <img src="./assets/img/beneficio1.jpg" alt="imagen beneficio">
                    <p>Fortalece dientes</p>
                </div>
            </li>
            <li>
                <div class="beneficio">
                    <img src="./assets/img/beneficio2.jpg" alt="imagen beneficio">
                    <p>Mejora su humor</p>
                </div>
            </li>
            <li>
                <div class="beneficio">
                    <img src="./assets/img/beneficio3.jpg" alt="imagen beneficio">
                    <p>Mejora su aliento</p>
                </div>
            </li>
            <li>
                <div class="beneficio">
                    <img src="./assets/img/beneficio4.jpg" alt="imagen beneficio">
                    <p>Aumenta sus músculos</p>
                </div>
            </li>
            <li>
                <div class="beneficio">
                    <img src="./assets/img/beneficio5.jpg" alt="imagen beneficio">
                    <p>Disminuye la caída de pelo</p>
                </div>
            </li>
            <li>
                <div class="beneficio">
                    <img src="./assets/img/beneficio6.jpg" alt="imagen beneficio">
                    <p>Fortalece su sistema inmune</p>
                </div>
            </li>
        </ul>
    </section><!--beneficios-->



    <div id="eventos" class="content-block content-block-gray">
        <div class="container">
            <header class="block-heading cleafix">
                <!--<a href="eventos.php" class="btn btn-o btn-lg pull-right">Ver todos</a>-->
                <h1>Eventos</h1>
                <p>Alimentación segura presente en los mejores eventos</p>
            </header>
            <section class="block-body">
                <div class="row">
                    <div class="col-sm-4 blog-post">
                        <img src="./assets/img/eventos1.jpg" alt="Design Your Mind">
                        <a href="#"><h2>Obediencia</h2></a>
                        <div class="date">3 y 4 de Noviembre, 2018</div>
                        <p>Descripción detallada del evento, lugar, horarios, inscripciones, etc.</p>
                    </div>
                    <div class="col-sm-4 blog-post">
                        <img src="./assets/img/eventos2.jpg" alt="Winter Is Comming">
                        <a href="#"><h2>Seminario de IPO</h2></a>
                        <div class="date">5 Feb, 2018</div>
                    </div>
                    <div class="col-sm-4 blog-post">
                        <img src="./assets/img/eventos3.jpg" alt="The Illustration">
                        <a href="#"><h2>La diversión</h2></a>
                        <div class="date">6 Mar, 2018</div>
                    </div>
                </div>
            </section>
        </div><!--/container-->
    </div><!-- /.content-block content-blog-gray -->


    <div id="parallax">
        <div class="cuenta-regresiva contenedor">
            <header class="block-heading cleafix">
                <!--<a href="eventos.php" class="btn btn-o btn-lg pull-right">Ver todos</a>-->
                <h1 class="text-center">Falta para nuestro próximo evento</h1>
            </header>
            <ul class="clearfix">
                <li><p id="dias" class="numero"></p>Días</li>
                <li><p id="horas" class="numero"></p>Horas</li>
                <li><p id="minutos" class="numero"></p>Minutos</li>
                <li><p id="segundos" class="numero"></p>Segundos</li>
            </ul>
        </div>
    </div>

    <section id="testimoniales">
      <div class="recent-projects-title contenedor testimoniales clearfix">
          <h1>Testimoniales</h1>
          <div class="testimonial">
            <blockquote>
              <p>Gracias por tu alimento Segura cada día mis perrita están más bonitas.</p>
              <footer class="info-testimonial clearfix">
                <img src="./assets/img/testimonial1.jpg" alt="testimonial1">
                <cite>Jimmy Mañon <span>Cliente</span></cite>
              </footer>
            </blockquote>
          </div><!--.testimonial-->
          <div class="testimonial">
            <blockquote>
              <p>Mi cachorra ahora adulto-joven, ganadora del primer lugar pelo largo en el sieger 2017 una vez más.</p>
              <footer class="info-testimonial clearfix">
                <img src="./assets/img/testimonial2.jpg" alt="testimonial1">
                <cite>Icaro Icaro <span>Criador experto</span></cite>
              </footer>
            </blockquote>
          </div><!--.testimonial-->
          <div class="testimonial">
            <blockquote>
              <p>Mi nena durante su embarazo consumiendo Alimentación Segura, gracias a eso tuvo 4 hermosos gatitos súper sanos</p>
              <footer class="info-testimonial clearfix">
                <img src="./assets/img/testimonial3.jpg" alt="testimonial1">
                <cite>Carla Jiménez <span>Cliente</span></cite>
              </footer>
            </blockquote>
          </div><!--.testimonial-->
      </div>
    </section>

    <section class="seccion" id="dautorizados">
        <h1 class="contenedor">Distribuidores Autorizados</h1>
        <div class="mapa" id="mapa"></div>
    </section>
    <div id="social" class="content-block">
        <div class="container text-center">
            <div class="hexagon"><a href="https://www.facebook.com/profile.php?id=100017947713785"><i class="fa fa-facebook"></i></a></div>
            <div class="hexagon"><a href="https://twitter.com/limentoSegura"><i class="fa fa-twitter"></i></a></div>
            <!--<div class="hexagon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
            <div class="hexagon"><a href="#"><i class="fa fa-instagram"></i></a></div>
            <div class="hexagon"><a href="#"><i class="fa fa-pinterest"></i></a></div>
            <div class="hexagon"><a href="#"><i class="fa fa-envelope"></i></a></div>-->
        </div>
    </div>
